<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.mapper.GrayEnvMapper">

    <resultMap id="BaseResultMap" type="com.easy.domain.entity.GrayEnvEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="expire" column="expire" jdbcType="TIMESTAMP"/>
            <result property="extObj" column="ext_obj" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        state,description,name,
        expire,ext_obj
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gray_env
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from gray_env
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.easy.domain.entity.GrayEnvEntity" useGeneratedKeys="true">
        insert into gray_env
        ( id,create_time,update_time
        ,state,description,name
        ,expire,ext_obj)
        values (#{id,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP}
        ,#{state,jdbcType=INTEGER},#{description,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}
        ,#{expire,jdbcType=TIMESTAMP},#{extObj,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.easy.domain.entity.GrayEnvEntity" useGeneratedKeys="true">
        insert into gray_env
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="state != null">state,</if>
                <if test="description != null">description,</if>
                <if test="name != null">name,</if>
                <if test="expire != null">expire,</if>
                <if test="extObj != null">ext_obj,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="state != null">#{state,jdbcType=INTEGER},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="expire != null">#{expire,jdbcType=TIMESTAMP},</if>
                <if test="extObj != null">#{extObj,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.easy.domain.entity.GrayEnvEntity">
        update gray_env
        <set>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="state != null">
                    state = #{state,jdbcType=INTEGER},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="expire != null">
                    expire = #{expire,jdbcType=TIMESTAMP},
                </if>
                <if test="extObj != null">
                    ext_obj = #{extObj,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.easy.domain.entity.GrayEnvEntity">
        update gray_env
        set 
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            state =  #{state,jdbcType=INTEGER},
            description =  #{description,jdbcType=VARCHAR},
            name =  #{name,jdbcType=VARCHAR},
            expire =  #{expire,jdbcType=TIMESTAMP},
            ext_obj =  #{extObj,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
